<div class="container">
    <h2>Sono nel component tab-bar</h2>
    <div class="btn btn-group">
        <button class="btn btn-outline-secondary" [ngClass]="{'btn-success': active?.dimensione === i.dimensione}"
            *ngFor="let i of items" (click)="itemClickHandler(i)">
            {{i.nome}}
        </button>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            I bottoni sono generati attravero un *ngFor che cicla su items, input di tipo Grandezza (interfaccia con
            nome e
            dimensione)
        </li>
        <li class="list-group-item">
            All'interno del bottone visualizzo l'attributo nome di ogni elemento
        </li>
        <li class="list-group-item">
            Al click il metodo itemClickHandler() emette un evento restituendo l'elemento del ciclo come parametro
            (this.evento.emit(i); )
        </li>
        <li class="list-group-item">
            <small>Aggiunto nei bottoni [ngClass] a cui passo un oggetto(chiave:valore) in cui la chiave è la classe che
                voglio applicare ed il valore è un booleano.
                Ho aggiunto un attributo di tipo Grandezza in tab-bar per fare il check ===
            </small>
        </li>
    </ul>



</div>