<div class="container">
  <h2>Component traduzione</h2>
  <p>Titolo e testo sono identificatori che ngx-translate usa per trovare le stringhe di traduzione.
    <br>Basta sostituire i testi statici con i riferimenti nel file json.
    <br> Ci sono 3 scelte quando si tratta di aggiungere traduzioni:
  </p>
  <ul>
    <li>
      translation pipe — &#123;&#123;'id' | translate&#125;&#125;
    </li>
    <li>
      translation directive — id as attribute value &#60;element &#91;translate&#93;="'id'"&#62;&#60;/element&#62;
    </li>
    <li>
      translation directive — id as a child &#60;element translate&#62;id&#60;/element&#62;
    </li>

  </ul>

  <h2>{{ 'demo.title' | translate }}</h2>

  <!-- translation: translation pipe -->
  <p>{{ 'demo.text' | translate }}</p>

  <!-- translation: directive (key as attribute)-->
  <p [translate]="'demo.text'"></p>

  <!-- translation: directive (key as content of element) -->
  <p translate>demo.text</p>



  <button type="button" class="btn btn-outline-success btn-sm" (click)="useLanguage('en')">en</button>
  <button type="button" class="btn btn-outline-info btn-sm" (click)="useLanguage('de')">de</button>
  <button type="button" class="btn btn-outline-danger btn-sm" (click)="useLanguage('it')">it</button>

  <br>
  <h2>Traduzione con paramentro</h2>
  <p>ngx-translate supporta anche i parametri nelle traduzioni. Vengono passati come oggetto, le chiavi possono essere utilizzate nelle stringhe di traduzione</p>
   <p> {{ 'demo.greeting' | translate:{'name':'Pippo'} }}</p>
  
</div>

<!--
Translations with parameters
ngx-translate also supports parameters in translations. They are passed as an object, the keys can be used in the translation strings.-->

<!-- translation with parameters: translation pipe -->
<!--<p>{{ 'demo.greeting' | translate:{'name':'Andreas'} }}</p>-->

<!-- translation: directive (key as attribute) -->
<!--<p [translate]="'demo.greeting'" [translateParams]="{name: 'Andreas'}"></p>-->

<!-- translation: directive (key as content of element)-->
<!--<p translate [translateParams]="{name: 'Andreas'}">demo.greeting</p>-->

<!--And the extended translations file:
  {
  "demo": {
    …
    "greeting": "Hello {{name}}!"
  }
}-->