<div class="container">
    <h2>Component drop-down</h2>

    <h2>DropDown con FormControl</h2>
    <!--questo è un reactive form-->
    <p [ngClass]="{'big' : size == 'big', 'small' : size == 'small'}">
        Frase a cui cambio lo stile
        <select (change)="hello()" [formControl]="selectField">
            <option value="1">Grande</option>
            <option value="2">Piccolo</option>
            <option value="3">Reset</option>
        </select>
    </p>

    <h2>DropDown con popper</h2>

    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary" (click)="alert()">Alert</button>
        <button type="button" id="dropdownMenuButton" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Dropdown</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="">Home</a>
            <a class="dropdown-item" routerLink="/prova">Varie</a>
            <a class="dropdown-item" routerLink="/traduzione">Traduzione</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Lorem ipsum</a>
        </div>
    </div>

    <h2>DropDown con elementi di json-server</h2>
    <div class="btn-group">
        <button type="button" id="dropdownMenuBis" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Lista elementi</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuBis" >
            <button class="dropdown-item" *ngFor="let le of listaElementi" (click)="mostraInfo(le)">{{le.nome}}</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="alert2()">Lorem ipsum</button>
        </div>
    </div>
</div>