


<div class="container">
    <h2>Sono in nuovi-router component</h2>
    <p>Ho creato questo component come prova di routerLink con aggiunta di parametro</p>
    <p>Aggiunto activatedRoute anche in gestisci-persone in modo da visualizzare il dettaglio di ogni persona (invece di cliccare su dettaglio cliccare sull'id)
      <br>
      <small>C'è un metodo prova in gestisci persone, che non ho utilizzato, che è equivalente a [routerLink]="['/dettaglio', utenti.id]"</small>
    </p>
    <div class="row">
      <div class="col-md-4"><h3>Id: {{this.id}}</h3></div>
      <div class="col-md-4"> <h3>Colonna 2</h3>"Lorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur? [33] At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga."</div>
      <div class="col-md-4"><h3>Colonna 3</h3>"Lorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur? [33] At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga."</div>
    </div>
  </div>
