<div id="container">
	<h1>&bull; Accedi &bull;</h1>
	<div class="underline">
	</div>
	<div class="icon_wrapper">
	</div>
	<form action="#" method="post" id="contact_form">
		<div class="name">
			<label for="name"></label>
			<input matInput type="text" class="form-control" placeholder="User Name" [formControl]="usernameC" name="name"
				id="name_input" required>
				<!--<mat-error *ngIf="usernameC.invalid">{{errore()}}</mat-error>-->
		</div>
		<div class="password">
			<label for="password"></label>
			<input type="password" class="form-control" placeholder="Password" [(ngModel)]="passwordC" name="email"
				id="password_input" required>
		</div>
		<div class="submit">
			<button type="submit" (click)="login()" routerLink="/dopoLogin" id="form_button">Login</button>
			<button type="submit" routerLink="/sidebar" id="reg_button">Register</button>
		</div>
	</form>
</div>