<div class="container">
    <h2>Sono nel component gmap</h2>
    <ul class="list-group">
        <li class="list-group-item">
            All'interno dell'url c'è un parametro sostituito per interpolazione con l'attributo dimensione
        </li>
        <li class="list-group-item">
            All'interno del component principale c'è un attributo che definisce la dimensione corrente di tipo
            Grandezza(interfaccia) ed un array di dimensioni di tipo Grandezza
        </li>
    </ul>
    <br>
    <img
        src="https://lh3.googleusercontent.com/-iogi_1MXfMs/Wss3ettGd8I/AAAAAAABBwc/_IZPflOa7nMfyK-PQD88Ar88iqSvdgtoQCHMYCw/dimensioni-immagine%255B2%255D?imgmax={{dimensione}}">

</div>