<h2>Component typeahead</h2>

<label for="typeahead-focus">In questo esempio, viene eseguita una ricerca indipendentemente dal contenuto dell'input:</label>
<ul>
  <li>su input vuoto verranno prese tutte le opzioni</li>
  <li>altrimenti le opzioni verranno filtrate in base al termine di ricerca</li>
  <li>limiterà la visualizzazione a 10 risultati in tutti i casi</li>
</ul>
<input
  id="typeahead-focus"
  type="text"
  class="form-control"
  [(ngModel)]="model"
  [ngbTypeahead]="search"
  (focus)="focus$.next($any($event).target.value)"
  (click)="click$.next($any($event).target.value)"
  #instance="ngbTypeahead"
/>
<pre>Model: {{ model | json }}</pre>