<mat-toolbar color="primary">
    <span text-align="center">Nome super fantasioso per la mia applicazione</span>
  </mat-toolbar>
<div class="d-flex" id="wrapper">
    <app-cornice></app-cornice>
    
    <div id="page-content-wrapper">
        <app-header></app-header>
        <div class="container-fluid">
            <router-outlet></router-outlet>
            <!--Questa direttiva della libreria @angular/router, 
            comporta che l’applicazione funzioni come una single-page application, 
            il quale, piuttosto che caricare una nuova pagina quando si cambia percorso ne modifica il contenuto html. -->
        </div>
    </div>
</div>
<app-modal></app-modal>
<app-footer></app-footer>