<div class="sidebar">
    <h2>Lista Persone</h2>
    <h2 *ngIf="this.loading">LOADING...Assicurarsi di aver avviato i server</h2>
    <!--se loading è true, ovvero se non ha ancora finito di caricare i dati, mostra loading (nel mio caso non si vede perchè ottiene subito i dati)-->
    <table class='table'>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Età</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of persone;">
                <td>{{person.name}}</td>
                <td>{{person.age}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="mainpage">
    <h2>Component Sidebar</h2>
    <h2>Ripasso di una chiamata http</h2>
    <p>Un <i>Observable</i> è una tipologia di oggetto che fa la chiamata e attende la risposta, avvia un'azione in
        maniera asincrona e attende</p>
    <p>Una <i>callback</i> è, in genere, una funzione, o un "blocco di codice" che viene passata come parametro ad
        un'altra funzione.
        In particolare, quando ci si riferisce alla callback richiamata da una funzione,
        la callback viene passata come argomento ad un parametro della funzione chiamante.
        In questo modo la chiamante può realizzare un compito specifico (quello svolto dalla callback) che non è, molto
        spesso, noto al momento della scrittura del codice.</p>
    <ul>
        <li>apro la pagina web</li>
        <li>avvio il mio componente, quindi viene chiamato ngOnInit che chiama il mio metodo</li>
        <li>il metodo() fa la richiesta http e ritorna come risultato un Observable</li>
        <li>l'observable è in attesa della risposta http</li>
        <li>sottoscrivo una funzione chiamata callback, che è una arrow function,</li>
        <li>dopodichè solo nel momento in cui l'observable riceve la risposta allora richiama la callback che io gli ho
            sottoscritto</li>
        <li>la callback penderà nel res(nell'oggetto res) la risposta cioè i dati arrivati dall'http e li stamperà nella
            console</li>
        <li>in questo modo portiamo i dati dal server al nostro client</li>
    </ul>

    <h2>Chiamata in post su json-server</h2>
    <div>
        <div>
            <label>Nome: </label>
            <input [(ngModel)]="person.name" />
            <label> Età: </label>
            <input [(ngModel)]="person.age" />
            <button type="button" class="button15" (click)="addPerson()">Aggiungi -></button>
        </div>
    </div>

    <h2>Chiamata in post su server (sts progetto pratica.Angular) + http.delete</h2>
    <form>
        <div class="form-row align-items-center">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Nome</label>
            <input type="text" class="form-control mb-2" [(ngModel)]="persona.name" placeholder="Inserisci il nome">
          </div>
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Età</label>
            <input type="text" class="form-control mb-2" [(ngModel)]="persona.age" placeholder="Inserisci l'età">
          </div>
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Informazioni</label>
            <input type="text" class="form-control mb-2" [(ngModel)]="persona.info" placeholder="Info">
          </div>
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Username</label>
            <input type="text" class="form-control mb-2" [(ngModel)]="persona.user" placeholder="Min 5 caratteri">  <!--tolti controlli-->
          </div>
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Password</label>
            <input type="text" class="form-control mb-2" [(ngModel)]="persona.password" placeholder="Min 6 caratteri">
          </div>
          <div class="col-auto">
            <button class="btn btn-outline-secondary btn-sm" (click)="aggiungiPersona()">Aggiungi</button>
          </div>
        </div>
      </form>
      <h2 *ngIf="this.loading">LOADING...Assicurarsi di aver avviato i server</h2>
    <table class='table'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Età</th>
                <th>Informazioni</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let persona of personeDaSts;">
                <td>{{persona.id}}</td>
                <td>{{persona.name}}</td>
                <td>{{persona.age}}</td>
                <td>{{persona.info}}</td>
                <td>{{persona.user}}</td>
                <td>{{persona.password}}</td>
                <td><button type="button" class="button15" (click)="eliminaPersona(persona)">Elimina</button></td>
            </tr>
        </tbody>
    </table>

</div>