<h2>Component typeahead-search</h2>
<p>NgxTypeahead è un modulo di completamento automatico autonomo privo di dipendenze. </p>
<p>è composto da:</p>
<ul>
    <li>[value]: valore iniziale</li>
    <li>[taList]: elenco di dati degli elementi che verrà popolato quando un utente digita.</li>
    <li>(taSelected): emette un evento quando viene selezionato un elemento dai suggerimenti.</li>
    <li>[taItemTpl]: accetta la variabile template definita su ng-template</li>
</ul>

<h2>Semplice Typeahead con lista locale</h2>
<input [value]="search1" ngxTypeahead [taList]="myLocalList" (taSelected)="selectedStatic($event)">

<br>
<h2>Typeahead con lista custom</h2>
<input [value]="search2" ngxTypeahead [taList]="myLocalDataList2" [taItemTpl]="myTemp"
    (taSelected)="selectedTempStatic($event)">

<ng-template #myTemp let-item>
    <div class="item-name">
        {{item.result.name}}
    </div>
    <div class="item-desc">
        {{item.result.description}}
    </div>
</ng-template>

<br>
<h2>Typeahead con richiesta al server per suggerimenti</h2>
<input [value]="search4" ngxTypeahead [taList]="myDataList" [taItemTpl]="risp" (taSelected)="listaDaJson($event)">

<ng-template #risp let-item>
    <div class="item-name">
        {{item.result.name}}
    </div>
</ng-template>